<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.cortp.repository.platform.GeneratorMapper">

    <select id="findTables" resultType="string">
        SELECT DISTINCT schemaname||'.'||tablename AS tableName
        FROM pg_tables a LEFT JOIN pg_class b ON a.tablename = b.relname
        <if test="null != tableName and '' != tableName">
            WHERE schemaname||'.'||tablename LIKE  CONCAT(#{tableName},'%')
        </if>
    </select>

    <select id="findTableColumn" resultType="map">
        SELECT DISTINCT a.attname AS "columnName",
                 c.relname AS "tableName",
                 CAST(obj_description(relfilenode,'pg_class') AS VARCHAR) AS "tableDesc",
                 CONCAT_WS('',t.typname,SUBSTRING(format_type(a.atttypid,a.atttypmod) FROM '\(.*\)')) AS "type",
                 REPLACE(d.description, ',',' ') AS "desc"
        FROM pg_attribute a
         LEFT JOIN pg_class c ON a.attrelid = c.oid
         LEFT JOIN pg_description d ON a.attrelid = d.objoid AND a.attnum = d.objsubid
         LEFT JOIN pg_type t ON a.atttypid = t.oid
         LEFT JOIN pg_tables pt ON pt.tablename = c.relname
        WHERE a.attnum>0
        AND pt.schemaname||'.'||pt.tablename = #{tableName}
        AND CONCAT_WS('',t.typname,SUBSTRING(format_type(a.atttypid,a.atttypmod) FROM '\(.*\)')) != ''
        ORDER BY c.relname DESC

    </select>

    <select id="findMysqlTables" resultType="string">
        SELECT table_name AS tableName FROM information_schema.tables
        <if test="null != tableName and '' != tableName">
            WHERE table_schema = #{tableName}
        </if>
    </select>

    <select id="findMysqlTableColumn" resultType="map">
        SELECT
            #{tableName} AS "tableName",
            column_name AS "columnName",
            column_comment AS "desc",
            column_type AS "type"
        FROM information_schema.columns
        WHERE table_schema ='mmhw'
        <if test="null != tableName and '' != tableName">
            AND table_name = #{tableName}
        </if>
    </select>

</mapper>
