<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--第一个配置项：这里是日志输出格式-->
    <appender name="consoleLogger" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <!-- %d - %msg%n-->
                %d{yyyy-MM-dd HH:mm:ss}[%p][%c]:  %m%n
            </pattern>
        </layout>
    </appender>

    <!--第二个配置项：将info日志输出到哪个info文件中-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--只保存info类型的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                <!--%d - %msg%n-->
                %d{yyyy-MM-dd HH:mm:ss}[%p][%c]:  %m%n
            </pattern>
            <charset>utf-8</charset>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <!-- <fileNamePattern>D:/log/info.%d.log</fileNamePattern>-->
            <fileNamePattern>${user.dir}/log/xx-common-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--第三个配置项：将日志输出到哪个错误日志文件中-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--只保存error类型的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                <!-- %d - %msg%n-->
                %d{yyyy-MM-dd HH:mm:ss}[%p][%c]:  %m%n
            </pattern>
            <charset>utf-8</charset>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <!--<fileNamePattern>D:/log/error.%d.log</fileNamePattern>-->
            <fileNamePattern>${user.dir}/log/xx-common-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--引用哪个配置-->
    <root level="INFO">
        <appender-ref ref="consoleLogger"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>

    <!--添加日志打印控制级别-->
    <logger name="com.horen.cortp.repository" level="DEBUG" />

</configuration>